Perinaig[[:space:]]Morvan.mp4 filter=lfs diff=lfs merge=lfs -text
Perinaig[[:space:]]Nicolas[[:space:]]Rouaud.mp4 filter=lfs diff=lfs merge=lfs -text
Tivoujeret.mp4 filter=lfs diff=lfs merge=lfs -text
Gwenchlan.mp4 filter=lfs diff=lfs merge=lfs -text
Identity.mp4 filter=lfs diff=lfs merge=lfs -text
Jouiz[[:space:]]Kemener.mp4 filter=lfs diff=lfs merge=lfs -text
Louarn[[:space:]]Abjean.mp4 filter=lfs diff=lfs merge=lfs -text
Perinaig[[:space:]]Leroux[[:space:]]David.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.vob filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.ogv filter=lfs diff=lfs merge=lfs -text
*.gifv filter=lfs diff=lfs merge=lfs -text
*.qt filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.avchd filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.3gp filter=lfs diff=lfs merge=lfs -text
*.3g2 filter=lfs diff=lfs merge=lfs -text
*.mxf filter=lfs diff=lfs merge=lfs -text
*.roq filter=lfs diff=lfs merge=lfs -text
*.nsv filter=lfs diff=lfs merge=lfs -text
*.f4v filter=lfs diff=lfs merge=lfs -text
*.f4p filter=lfs diff=lfs merge=lfs -text
*.f4a filter=lfs diff=lfs merge=lfs -text
*.f4b filter=lfs diff=lfs merge=lfs -text
*.m2ts filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.m2v filter=lfs diff=lfs merge=lfs -text
*.m2p filter=lfs diff=lfs merge=lfs -text
*.m2t filter=lfs diff=lfs merge=lfs -text
*.mts filter=lfs diff=lfs merge=lfs -text
*.m1v filter=lfs diff=lfs merge=lfs -text
*.m1a filter=lfs diff=lfs merge=lfs -text
*.m2a filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.m4p filter=lfs diff=lfs merge=lfs -text
*.m4b filter=lfs diff=lfs merge=lfs -text
*.m4r filter=lfs diff=lfs merge=lfs -text
*.m4z filter=lfs diff=lfs merge=lfs -text
*.mka filter=lfs diff=lfs merge=lfs -text
*.mk3d filter=lfs diff=lfs merge=lfs -text
Identitytrescourt.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Nuremberg[[:space:]]2021/photos/VID180957.mp4 filter=lfs diff=lfs merge=lfs -text
Nuremberg[[:space:]]2021/photos/VID201450.mp4 filter=lfs diff=lfs merge=lfs -text
Roumanie/Photos/bicaz.mp4 filter=lfs diff=lfs merge=lfs -text
Roumanie/Photos/constant.mp4 filter=lfs diff=lfs merge=lfs -text
Roumanie/Photos/danse.mp4 filter=lfs diff=lfs merge=lfs -text
Srbija/photos/nocebido.mp4 filter=lfs diff=lfs merge=lfs -text
Srbija/photos/nsmariag.mp4 filter=lfs diff=lfs merge=lfs -text
Srbija/photos/tambura.mp4 filter=lfs diff=lfs merge=lfs -text
Srbija/photos/tambura.webm filter=lfs diff=lfs merge=lfs -text
Srbija/projet[[:space:]]video/nocebido.mp4 filter=lfs diff=lfs merge=lfs -text
Srbija/projet[[:space:]]video/nsmariag.mp4 filter=lfs diff=lfs merge=lfs -text
Srbija/projet[[:space:]]video/nsmariag.webm filter=lfs diff=lfs merge=lfs -text
Srbija/projet[[:space:]]video/tambura.mp4 filter=lfs diff=lfs merge=lfs -text
alarch.m4a filter=lfs diff=lfs merge=lfs -text
alarch1.m4a filter=lfs diff=lfs merge=lfs -text
mochail.mov filter=lfs diff=lfs merge=lfs -text
